#PetListContainer {
    width: 100%;
    height: 100%;
    background-color: var(--clr-light-gray);
}

#SearchLoadingGreet,
#SearchErrorMessage {
    width: 100%;
    height: calc(100svh - 5rem); /* 5rem es el height total del componente Header.jsx */
    background-color: var(--clr-secondary);
    color: var(--clr-black);
    display: grid;
    place-items: center;
}