#Header {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    gap: 1rem;
    background-color: var(--clr-light-gray);
    color: var(--clr-primary);
    box-shadow: 0 2px 5px 0 #00000059;
    display: flex;
    flex-direction: column;
    gap: none;
}

#HeaderNavbar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    
}

#HeaderLogo {
    display: flex;
    align-items: center;
    min-height: 3rem;
    gap: 0.5rem;
}

#HeaderLogo > img {
    height: 3rem;
    width: 3rem;
}

#HeaderLogoTitle { display: none; }

#HeaderSearchContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#HeaderSearchInput {
    flex-grow: 1;
    min-height: 3rem;
    padding: 0.5rem;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    border-right: none;
    border-radius: 1rem 0 0 1rem;
}

#HeaderSearchSubmit {
    min-height: 3rem;
    min-width: 3rem;
    background: var(--clr-secondary);
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    border-left: none;
    border-radius: 0 1rem 1rem 0;
    display: grid;
    place-items: center;
    cursor: pointer;
}

#HeaderSearchContainer:has(:focus) #HeaderSearchInput,
#HeaderSearchContainer:has(:focus) #HeaderSearchSubmit {
    outline: 0.1rem solid var(--clr-black);
}

#HeaderSearchIcon {
    height: 2rem;
    width: 2rem;
}

#HeaderMenuButton {
    min-height: 3rem;
    min-width: 3rem;
    border: none;
    background: var(--clr-light-gray);
    color: var(--clr-primary);
    display: grid;
    place-items: center;
}

#HeaderMenuButtonIcon {
    height: 2rem;
    width: 2rem;
}

#HeaderUserMenu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.HeaderUserMenuItem { list-style: none; }

.HeaderUserMenuLink {
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid var(--clr-primary);
    border-radius: 5px;
    background: var(--clr-secondary);
    color: var(--clr-black);
    cursor: pointer;
}

#HeaderLoginButton {
    background: var(--clr-accent);
    color: var(--clr-white);
}

#HeaderLoginButton:hover,
#HeaderRegisterButton:hover {
    background: var(--clr-dark-gray);
    color: var(--clr-white);
}

@media (min-width: 640px) {
    #Header {
        height: 100%;
        padding: 1rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    #HeaderNavbar {
        display: flex;
        flex-direction: row;
        gap: 45px;
    }

    #HeaderUserMenu {
        flex-direction: row;
    }

    .HeaderUserMenuLink {
        padding: 15px 20px;
        margin: unset;
        border-radius: 10px;
    }
}
